.content {
    min-height: calc(100vh - 80px);
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    padding: 78px 0 170px;
    background-color: #f0eff2;
}

.heading-title {
    width: 900px;
    height: 40px;
    margin: 0 auto;
}

.heading-title__text {
    margin: 0;
    line-height: 40px;
    border-left: 8px solid #000000;
    padding: 0px 21px;
    font-weight: 700;
    font-size: 30px;
    color: #000;
}

.list__container {
    margin: 94px auto 94px;
}

.list__table {
    margin: 0 auto;
    width: 900px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #737373;
    border-radius: 10px;
}

.list__table--header-row {
    height: 46px;
    border-bottom: 3px solid #e1e1e1;
}

.table-header--name {
    padding-left: 171px;
}

.list__table--row {
    height: 47px;
}

.list__table--row:not(:last-child) {
    border-bottom: 2px solid #e1e1e1;
}

[class^="table-content--"] {
    text-align: center;
}

.table-content--name {
    width: 302px;
    padding-left: 171px;
}

.table-content--email {
    width: 334px;
}

.table-content--monthly-attendance {
    width: 264px;
}

.detail-link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list__table-row--no-item {
    background-color: #f0eff2;
}
